.wrapper {
  display: grid;
  grid-template-rows: 40px 56px;
  width: 100%;
  margin-bottom: 30px;

  .header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr 4fr 2fr;
    background-color: #5A55AE;
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    padding: 10px 16px;
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr 4fr 2fr;
    padding: 0 16px;
    align-items: center;
    background-color: #1A1C27;
    font-size: 18px;
    color: rgba(255, 255, 255, .48);

    .bodyFav {
      color: #EAB632;
    }

    .bodyBoldItem {
      color: #FFF;
    }

    .abProb {
      background-color: #CD2C2C;
      border-radius: 40px;
      padding: 8px 14px;
      width: 80%;
      text-align: left;
    }
  }
}