.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;

  .cm {
    justify-self: center;
    margin: -28px 0;
  }

  .left {
    justify-self: start;
    margin: -6px -6px;
  }

  .right {
    justify-self: end;
    margin: -15px -5px;
  }
}