.gblcbk {
  height: 2px;
  border: 0;
  background-color: #fff;
  position: relative;
  cursor: move;


  .l {
    border: 0;
    height: 15px;
    width: 3px;
    position: absolute;
    top: -2px;
  }

  .r {
    border: 0;
    height: 15px;
    width: 3px;
    position: absolute;
    top: -2px;
  }

  .rotate {
    i {
      background-image: url("./../../assets/icons/rulerSpin.png");
      background-size: 14px;
    }
  }
}