.xrayResults {
  background-color: #1A1C27;
  padding: 24px;

  .resultsPB {
    display: grid;
    grid-row-gap: 12px;
    margin: 25px 0;
    .resultsPBHeader {
      display: flex;
      justify-content: space-between;
    }

    .barCompleted {
      background-color: #CD2C2C;
    }
    .container {
      background-color: #2E303F;
    }
  }

  .resultsWrapper {
    display: grid;

    .resultsItem {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding: 16px 20px;

      .itemText {
        font-size: 16px;
        font-weight: 600;
        color: #9B9DA8;
        letter-spacing: -0.02em;
      }
    }

    .resultsItem:nth-child(even) {
      background-color: #212332;
    }
  }

  .resultsTable {
    margin-bottom: 32px;
    >h3 {
      margin-bottom: 16px;
    }

    >table {
      width: 100%;
      border-collapse: collapse;
    }

    >table tr {
      height: 56px;
    }

    >table tr th {
      padding: 16px 20px;
    }

    >table tr:nth-child(even) {
      background-color: #212332;
    }

    .tableRowTitle {
      text-align: left;
    }
  }

  .resultsButtons {
    display: grid;

    .gradientBox {
      display: grid;
      width: 288px;
      height: 63px;
      margin-bottom: 16px;

      position: relative;
      box-sizing: border-box;

      $border: 2px;
      color: #FFF;
      background-clip: padding-box; /* !importanté */
      border: solid $border transparent; /* !importanté */
      border-radius: 40px;

      &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(222.12deg, #3F51B1 16.72%, #5A55AE 28.34%,
                #7B5FAC 40.43%, #8F6AAE 52.53%, #A86AA4 64.63%, #CC6B8E 75.62%, #F7C978 86.26%);
      }
    }

    .resultsButton {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
      background-color: #1A1C27;
      border: 0 solid #A86AA4FF;
      color: #FFF;
      border-radius: 40px;
      padding: 18px 0;
      margin-bottom: 16px;
      z-index: 1;

      &:hover {
        cursor: pointer;
        background:
                linear-gradient(222.12deg, #3F51B1 16.72%, #5A55AE 28.34%,
                        #7B5FAC 40.43%, #8F6AAE 52.53%, #A86AA4 64.63%, #CC6B8E 75.62%, #F7C978 86.26%);
      }
    }
  }
}