@keyframes showImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.xrayPhoto {
  padding: 40px;
  background-color: #1A1C27;
  display: grid;
  justify-content: center;
  grid-row-gap: 26px;

  .xrayPhotoWrapper {
    position: relative;


    .xrayPhotoImage {
      overflow: hidden;
      width: 624px;
      max-height: 836px;
    }

    >img {
      animation-name: showImg;
      animation-duration: 1s;
    }
  }

  .xrayPhotoButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrowIcon {
    background: none;
    border: 0;
    color: #FFF;
    font-size: 20px;
    display: flex;
    justify-content: center;

    &:hover {
      color: #5A55AE;
      cursor: pointer;
    }
    &:disabled {
      color: #606060;
      cursor: auto;
    }
  }

  .xrayPhotoEditButtons {
    display: flex;
    gap: 16px;

    .xrayIcon {
      background-color: #232533;
      border-radius: 50%;
      padding: 18px;
      transition: background-color .2s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: #5A55AE;
      }
    }
  }
}