.arrowPopup {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  display: grid;
  grid-row-gap: 1px;
  background-color: rgba(255, 255, 255, .24);
  border-radius: 24px;

  .minusButton {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    &:hover {
      color: red;
    }
  }

  .plusButton {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    &:hover {
      color: green;
    }
  }

  .arrowPopupButton {
    width: 48px;
    height: 50px;
    border: 0;
    color: #FFF;
    background-color: #1D1F2E;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    transition: color .4s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      color: #4b4b4b;
      background-color: #606060;
      cursor: auto;
    }
  }
}