.buttonsWrapper {
  position: absolute;
  z-index: 2;
  padding: 20px;

  .buttons {
    width: 48px;
    height: 101px;
    display: grid;
    .buttonsItem {
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      background-color: #1D1F2E;
      transition: background-color .4s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: rgba(29, 31, 46, 0.6);
      }
    }

    .plus {
      border-top: 1px solid rgba(255, 255, 255, .24);
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
    }

    .minus {
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
    }

    .disabled {
      cursor: not-allowed;
      background-color: #595959;

      &:hover {
        cursor: not-allowed;
        background-color: #595959;
      }
    }
  }
}
